/* Reset and layout */

.dj-service-card {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 30px;
  background-color: #fff;
}

.dj-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  text-align: start;
  padding: 5px;
}

.dj-divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.serviceDetails-location{
    margin-top: -25px;
    margin-bottom: -10px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .dj-service-card {
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dj-title {
    font-size: 20px;
    text-align: start;
  }

  .dj-service-card {
    padding: 15px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .dj-title {
    font-size: 18px;
  }

  .dj-service-card {
    padding: 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .dj-title {
    font-size: 16px;
  }

  .dj-service-card {
    padding: 8px;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
}
