.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  color: #232f3e; /* Amazon-style dark navy */
}

.category_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  padding: 20px;
  margin: 20px;
  max-width: 1200px;
}
