.home {
  width: 100%;
}

.heading {
  justify-content: center;
  padding-top: 20px;
  /* background-color: #232f3e; */
  margin-top: 500px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  color: #232f3e;
}

.category_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* default: 2 columns on mobile */
  gap: 66px;
  /* align-content: space-evenly; */
  padding: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.browse_all {
  display: flex;
  margin-right: 20px;

  justify-content: end;
}
.browse-all-btn {
  padding: 10px 20px;
  background-color: #232f3e;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 640px) {
  .category_section {
    grid-template-columns: repeat(3, 1fr); /* tablet: 3 cards */
  }
}

@media (min-width: 1024px) {
  .category_section {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* desktop: auto-fit */
  }
}
