.home {
  width: 100%;
}

.categories-head1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.categories-head {
  background-color: #f3c12d;
  color: #001f3f; /* dark text */
  padding: 16px 24px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  width: fit-content;
  border: 6px double #001f3f;
  border-radius: 30px 10px 30px 10px;
  display: inline-block;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

.heading {
  display: flex;
  justify-content: center;
}
.category-subheads {
  margin-top: 17px;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 600;
  color: #001f3f;
}
.category_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 32px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 20px;
}

.browse-all-btn {
  padding: 12px 32px;
  background-color: #001f3f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(128, 0, 128, 0.3);
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.arrow {
  transition: all 0.3s ease;
  display: inline-block;
}

.browse-all-btn:hover .arrow {
  transform: translateX(4px);
}

@media (max-width: 820px) {
  .browse_all {
    margin-right: 35px;
  }
}
@media (min-width: 640px) {
  .category_section {
    grid-template-columns: repeat(2, 1fr); /* tablet: 2 cards */
  }
}

@media (min-width: 1024px) {
  .category_section {
    grid-template-columns: repeat(3, 1fr); /* desktop: exactly 3 cards */
  }
}
