.home {
  width: 100%;
}

.heading {
  justify-content: center;
  padding-top: 20px;
  margin-top: 500px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  color: #232f3e;
}
.category_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default: 2 columns for mobile */
 /* Consistent with CategoryCard.css */
  padding: 0; /* Remove padding to allow full width */
  margin-left: 45px; ;
  width: fit-content; /* Full width */
  box-sizing: border-box;
  gap: 20px; /* Space between cards */

}

.browse_all {
  display: flex;
  margin-right: 20px;
  justify-content: end;
}
.browse-all-btn {
  padding: 10px 20px;
  background-color: #232f3e;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* .addbanner {
  width: 100%;
  height: 450px;
  padding: 30px;
  display: block;
  margin-top: 20px;

  object-fit: cover;
} */
@media (min-width: 640px) {
  .category_section {
    grid-template-columns: repeat(3, 1fr); /* tablet: 3 cards */
  }
}

@media (min-width: 1024px) {
  .category_section {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* desktop: auto-fit */
  }
}
