.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 570px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
}

.login-modal {
  background: white;
  padding: 30px 25px;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  font-family: "Arial", sans-serif;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
}

.login-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}

.login-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 15px;
}

.otp-button {
  width: 100%;
  padding: 12px;
  background: #5f4dff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  margin-top: 8px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.Login-forget-password-link {
  color: #5f4dff;
  text-decoration: none;
}
.Login-forget-password-link:hover {
  text-decoration: underline;
  font-weight: 500;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-btn:hover {
  background: #f5f5f5;
}

.facebook-icon {
  color: #1877f2;
}

.signup-text {
  text-align: center;
  margin-top: 3px;
  font-size: 14px;
  color: #333;
}

.signup-text .link {
  color: #2a00f8;
  font-weight: 600;
  cursor: pointer;
}
.signup-text .link {
  margin-top: 8px;
}

.signup-text .link:hover {
  text-decoration: underline;
  font-weight: bold;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
