.headpart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    135deg,
    rgb(232, 170, 229),
    rgb(179, 95, 169),
    #7f66ff
  );
  background-size: 400% 400%;
  background-position: 0% 50%;
  animation: backgroundMove 12s ease infinite;
}

.formpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: #f5efff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.subhead {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #7f66ff;
  font-family: "Poppins", sans-serif;
}

.inputpart {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #7f66ff;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}
.inputpart:hover {
  border: 1px solid;
}

.submitbutton {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #7f66ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.submitbutton:hover {
  background: #5034ba;
  font-size: 14px;
}

.subheadingRP {
  font-size: 1.12rem;
  margin-bottom: 20px;
  background-color: rgb(141, 216, 148);
  border-radius: 10px;
  padding: 10px;
  color: darkgreen;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
