.product-list {
  width: 100%;

  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.category-service {
  text-decoration: none;
  color: black;
}
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.filter-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: 20px;
}

.filter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 5px;
}
.filter-button.active {
  background-color: #0056b3;
  color: white;
}

