* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
}

.dj-total-img {
  flex: 1;
  min-width: 300px;
}

.dj-img {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-right: 10px; */
}

.li1 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  width: 70px;
  height: 95px;
}

.li1:hover {
  border: 2px solid purple;
}

.li1 img,
.li1 iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.big-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 450px;
   aspect-ratio: 2/ 3;
}

.big-image img,
.big-image iframe {
  max-width: 100%;
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  width: 550px;
}

.add-to-cart,
.buynow {
  flex: 1;
  padding: 12px 20px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: 0.3s ease;
  text-align: center;
}

.add-to-cart {
  background: linear-gradient(to right, #ff6a00, #ee0979);
}

.buynow {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.add-to-cart:hover,
.buynow:hover {
  opacity: 0.9;
  cursor: pointer;
}

.dj-about {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.why-choose {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 20px;
}

.why-choose ul {
  padding-left: 20px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 10px;
}
.why-choose ul li{
  margin-bottom: 8px;
}

.reviews {
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 8px;
}

.reviews h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.view-dj-section {
  width: 100%;
  margin-top: 40px;
}

.view-dj {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* -------- Responsive Media Queries -------- */

@media (max-width: 1024px) {
  .dj {
    flex-direction: column;
  }

  .big-image img,
  .big-image iframe {
    width: 100%;
    height: auto;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .add-to-cart,
  .buynow {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .thumbnail-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .li1 {
    width: 65px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .dj {
    padding: 10px;
  }

  .similar-img2 {
    width: 100%;
    margin: auto;
  }

  .reviews,
  .why-choose {
    padding: 15px;
  }
  .big-image {
    max-width: 100%;
    aspect-ratio: 2 / 3;
  }


}
