/* .category_box {
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  height: 100vh;
  margin: 10px;
}
/* .category_filter {
  padding: 5px;
  margin-right: 5px;
  background-color: antiquewhite;
  text-align: center;
} 
.category {
  padding: 5px;
  margin-left: 5px;
  background-color: aliceblue;
  text-align: center;
} */
