.category_box {
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  height: 100vh;
  padding: 10px;
  background-color: #f2f0f4;
}

.category {
  padding: 5px;
  margin-left: 5px;
  background-color: #fff;

  text-align: center;
}
