.dj {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  box-sizing: border-box;
}

.section_one {
  display: flex;
  width: 100%;
  /* background-color: #0c742b; */
}
.left-fixed {
  position: sticky;
  top: 100px;
  width: 50%;
  height: fit-content;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  /* background-color: rgb(31, 220, 220); */
}
/* About Section */
.right-scrollable {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  justify-content: center;
  box-sizing: border-box;
}
.dj-img {
  /* width: 40%; */
  display: flex;
  /* flex-direction: column; */
  /* background-color: #0c742b; */
  /* gap: 15px; */
  /* flex-wrap: wrap; */
  margin-bottom: 20px;
  /* justify-content: center; */
}

.thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 5px;
  justify-content: center;
  width: 15%;
  /* max-height: 700px;
  overflow-y: auto; */
}

.li1 {
  /* background-color: #fff; */
  background-color: #0c742b;

  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 51px;
  flex-shrink: 0;
}

.li1:hover {
  border: 2px solid purple;
}

.li1 img,
.li1 iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.big-image {
  width: 80%;

  height: 360px;
  aspect-ratio: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.big-image img,
.big-image iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 40px;
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  margin-top: 20px;
  /* background-color: #0c742b; */
  justify-content: center;
  /* align-items: center; */
  /* width: 500px; */
}
.addToWish {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 190px;
  border-radius: 25px;
  font-size: 17px;
  border: 2px solid #b197fc;
  color: #b197fc;
  background-color: #ffffff;
}
.addToWish:hover {
  background-color: #b197fc;
  color: #ffffff;
  border: none;
}
.viewBtns {
  border: 1px solid #222;
  background-color: #fff;
  color: #222;
  display: flex;
  width: 180px;
  font-weight: 700;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px 30px;
  transition: all 0.3s ease;
}

/* Hover only when not wishlisted */
.viewBtns:not(.wishlisted):hover {
  background-color: red;
  color: white;
  border: red;
}

.viewBtns:not(.wishlisted):hover .wishIcon {
  color: white;
}

/* Wishlisted style */
.viewBtns.wishlisted {
  border: 1px solid red;
  background-color: white;
  color: black;
  font-weight: 700;
}

.viewBtns.wishlisted .wishIcon {
  color: red;
}
.people-also-book{
font-weight: 700;
font-size: 20px;
color: #001f3f;
}
.heartIcon {
  margin-top: 2px;
}
.wishIcons {
  font-size: 17px;
}

.buynow {
  border: none;
  background-color: #0c742b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border-radius: 20px;
  padding: 10px 12px;
  width: 200px;
  font-size: 17px;
  font-weight: 600;
}

.add-to-cart:hover {
  background-color: #f5f4f6;
  cursor: pointer;
}
.buynow:hover {
  opacity: 0.9;
  cursor: pointer;
}

.why-choose,
.reviews {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 20px;
  color: #001f3f;
}

.why-choose ul {
  padding-left: 20px;
  font-weight: 400;
  font-size: 17px;
  margin-top: 10px;
  color: #001f3f;
}

.why-choose ul li {
  margin-bottom: 8px;
}

.reviews h3 {
  margin-bottom: 15px;
  font-size: 22px;
}
/* Responsive Layout */
/* @media screen and (max-width: 1024px) {
  .dj {
    grid-template-columns: 1fr;
  }

  .left-fixed,
  .right-fixed {
    position: relative;
    top: auto;
    width: 100%;
    margin-bottom: 20px;
  }
} */

/* Similar Service Section */
.view-dj-section {
  overflow: hidden;

  padding: 10px;
  /* Example content height */
  border-radius: 8px;
  justify-content: center;
}

.view-dj {
  margin-top: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

@media (max-width: 768px) {
  .section_one {
    /* background-color: #0c742b; */
    flex-direction: column;
  }
  .left-fixed {
    width: 100%;
    position: relative;
    top: 0px;
  }
  .right-scrollable {
    width: 100%;
    position: relative; /* disable sticky */
  }
}

@media (max-width: 380px) {
  .buttons{
    gap: 8px;
  }
  .buynow{
    padding: 4px 8px;
    width: 160px;
  }
}