.user-details-container {
  width: 500px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #aaa;
  border-radius: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #fff;
}
.user-details-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #aaa;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
}

.location-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.date-group {
  display: flex;
  gap: 25px;
  margin-left: 45px;
  flex-wrap: wrap;
}
.date-group input {
    width: 100%;
    margin-top: 5px;
}

.form-group.small {
  flex: 1;
  min-width: 48%;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
  margin-left: 145px;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

.popup-inside {
  margin-top: 5px;
  background-color: #e1ffe1;
  border-left: 3px solid #4CAF50;
  border-right: 3px solid #4CAF50;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: #2c662d;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in-out;
}
.popup-inside strong {
    margin-bottom: 5px;
}
.popup-inside p {
    margin-top: 5px;
    font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

