.categoryCard {
  position: relative;
  text-align: center;

  display: inline-block;
  padding: 15px;
  border-radius: 12px;
  /* background-color: #fff; */
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.categoryCard img {
  border-radius: 10%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

  height: 200px;
  width: 150px;
  display: block;
}

/* .categoryCard h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
} */
.categoryCard h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  padding: 0 10px;
  max-width: 90%;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.2;
  transition: opacity 0.3s ease;
  color: white; /* Bright text */
  font-weight: bold; /* Stronger font */
  font-size: 1.2rem; /* Increase size if needed */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Soft background glow */
}

.categoryCard:hover h2 {
  opacity: 1;
}

/* .categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust as needed */

.categoryCard:hover {
  transform: scale(1.05); /* Slight hover effect */
}
