
:root {
  --sk-border-radius: 1rem;
  --bs-primary: #ffffff; 
  --sk-text-custom-color: #0C1424;
  --sk-grey-bg: #eaedf1;
}

/* Container for the milestones section */
.milestones-wrapper {
  padding: 4rem 3rem;
  background-color: var(--bs-primary);
  border-radius: var(--sk-border-radius);
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}


.milestones-wrapper::after {
  bottom: 0%;
  left: -13%;
}

.milestones-wrapper::before {
  bottom: -19%;
  right: -26%;
  transform: rotate(205deg);
}

/* Individual milestone card */
.milestone-card {
  text-align: center;
  flex: 1 1 200px;
  min-width: 150px;
  padding: 1rem;
}

/* Milestone number styling */
.milestone-number {
  color: black;
  font-weight: bold !important;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

/* Milestone label styling */
.milestone-label {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1rem;
  color: black;
}

