nav {
  /* border-bottom: 1px solid black; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(to right, #cbccf8 0%, #cbccf8 100%); */
}
.navbar_listings {
  width: 100%;
  height: 100px;
  /* margin: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  font-size: 20px;
  font-weight: 500;
  list-style: none;
}
/* li {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adds subtle shadow */
  /* border-radius: 8px; Slightly smoother corners */
  /* background-color: #b8b9f5;
  margin: 15px;
  transition: all 0.3s ease-in-out; Adds a smooth hover effect */
/* } */ */

li:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}
.navbar_listings a.active {
  font-weight: 1000;
  color: rgb(39, 161, 161);
}
.navbar_listings a {
  color: white;
}
