.person_description {
  text-align: start;
}
.category_person {
  display: flex;
  margin: 50px 0 30px 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.category_person .service-img img {
  background: none;
  margin: 0px 80px 0 30px;
  padding: 5px;
  width: 100px;
  height: 150px;
  display: flex;
}
.service-img {
  height: 150px;
  width: 100px;
  padding: 20px;
  margin-right: 100px;
}
