.categoryCard {
  position: relative;
  height: 220px;
  width: 100%; /* default: responsive width */
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
  
}

/* Mobile first (default height + full width) */

/* Tablet: Increase height and max width */
@media (min-width: 640px) {
  .categoryCard {
    max-width: 220px;
  }
}
@media (max-width: 450px) { /* <= 450px width: ; */
  .categoryCard {
    height: 110px;
  }
}

/* Desktop: More space, larger cards */
@media (min-width: 1024px) { /* >= 1024px width: ; */
  .categoryCard {
    max-width: 460px;
  }
}

.categoryCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  filter: brightness(65%);
  transition: opacity 0.2s ease-in-out;
}


.categoryCard h2 {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 2px 6px rgba(0, 0, 0, 0.6),
    0 3px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.categoryCard p{
  position: absolute;
  margin-top: 70px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 2px 6px rgba(0, 0, 0, 0.6),
    0 3px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

a {
  text-decoration: none;
}


.categoryCard:hover {
  background: rgba(0, 0, 0, 1);
  transform: scale(1.05);
}

.categoryCard:hover p{
  opacity: 1;
}
