.categoryCard {
  position: relative;
  height: 220px;
  width: 100%; /* default: responsive width */
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}

/* Mobile first (default height + full width) */

/* Tablet: Increase height and max width */
@media (min-width: 640px) {
  .categoryCard {
    /* height: 150px; */
    max-width: 220px;
  }
}
@media (max-width: 450px) {
  .categoryCard {
    height: 110px;
  }
}

/* Desktop: More space, larger cards */
@media (min-width: 1024px) {
  .categoryCard {
    /* height: 200px; */
    max-width: 460px;
  }
}

.categoryCard img {
  height: 85%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

.categoryCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #4e54c8, #8f94fb); /* gradient overlay */
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

.categoryCard h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  /* padding: 0 10px; */
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8), 0 2px 6px rgba(0, 0, 0, 0.6),
    0 3px 8px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.categoryCard h3 {
  height: 100%;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 5px 10px;
  background-color: rgb(218, 217, 217);
}
a {
  text-decoration: none;
}

.categoryCard:hover img {
  opacity: 0.5;
}

.categoryCard:hover h2 {
  opacity: 1;
}

.categoryCard:hover {
  background: rgba(0, 0, 0, 1);
  transform: scale(1.05);
}
