/* Card Styles */
.categoryCard {
  position: relative;
  width: 100%;
  max-width: 460px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0 auto; /* center cards on small screens */
}

.categoryCard:hover {
  transform: scale(1.03);
}

/* Image wrapper */
.card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.categoryCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Content */
.card-content {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 70%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.categoryCard h2 {
  font-family: 'Lora', serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.categoryCard p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  color: #fff;
  opacity: 0.9;
  text-align: center;
  line-height: 1.3;
  max-width: 90%;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}


/* Tablet View: 2 columns */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Desktop View: 3 columns */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }

  .category_section {
    grid-template-columns: repeat(3, 1fr);
  }
}
