.footer-enhanced {
  background: linear-gradient(135deg, #f5efff, #ffffff);
  padding: 30px 60px;
  font-size: 14px;
  margin-bottom: -40px;
  z-index: 100;
  position: relative;
  bottom: -150px;
}

.footer-top {
  text-align: center;
  margin-bottom: 30px;
}

.footer-top .top-h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.footer-top p {
  font-size: 13px;
  margin-bottom: 15px;
}

.app-buttons img {
  width: 150px;
  margin: 5px;
  position: relative;
  align-items: center;
  display: inline-block;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  margin: 10px 100px;
  max-width: 1200px;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;

}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}

.footer-columns h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-columns p {
  margin: 10px 0;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(7, 7, 7);
}
.footer-columns .links {
  margin: 0 45px;
}
.footer-columns .policy {
  margin: 0 55px;
  font-size: 22px;
}

.footer-divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 60px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  font-size: 12px;
  flex-direction: column;
  gap: 5px;
}

.footer-bottom .bottom-language {
  position: relative;
  text-align: center;
  top: 20px;
}

.footer-bottom .bottom-copy {
  position: relative;
  text-align: center;
  top: 25px;
  left: 10px;
  bottom: 0;
  color: rgb(0, 0, 0);
}

.footer-columns h4,
.footer-top h3,
.footer-top p,
.footer-bottom p,
.footer-bottom span {
  color: rgb(0, 0, 0);
}

.social-media {
  margin: 36px 125px;
  display: flex;
  gap: 5px;
  
}

.social-media .s-h4 {
  font-size: 17px;
  top: -100px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.footer-payment img {
  width: 200px;
  position: relative;
  top: 32px;
  left: 130px;
}

.footer-columns-wrapper {
  display: flex;
  justify-content: center;
}



