.footer-enhanced {
  background: #001f3f;
  color: black;
  padding: 30px 60px;
  font-size: 14px;
  margin-bottom: -40px;
  z-index: 100;
}

.footer-top {
  text-align: center;
  margin-bottom: 30px;
}
.footer-top p {
  color: white;
  margin: 10px 0;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer-top h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
    color: #ffc107;
}

.app-buttons img {
  width: 150px;
  margin: 5px;
  display: inline-block;
}

.footer-columns-wrapper {
  display: flex;
  justify-content: center;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
}

.footer-columns p {
  color: white;
  font-size: 13px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.footer-columns h4 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
    color: #ffc107;
}


.icon {
  width: 16px;
  height: 16px;
}

.footer-columns-mobile-wrapper {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  margin: 8px 0;
}

.footer-dropdown {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-dropdown h4 {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.6s ease-in-out,
    padding 0.3s ease-in-out;
  padding: 0 0;
}

.footer-dropdown-content.show {
  max-height: 500px;
  opacity: 1;
  padding: 8px 0;
}

.footer-dropdown-content p {
  color: white;
  font-size: 13px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-vertical-divider {
  width: 1px;
  background-color: white;
  height: auto;
}

.social-media-column {
  text-align: center;
  margin-top: 30px;
}

.social-media-column h4 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 12px;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.social-icon {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.dropdown-icon {
  width: 14px;
  height: 14px;

  padding: 2px;
  margin-right: 15px;
  color: white;
  border-radius: 100%;
  background-color: #0783ff;
  transition: transform 0.3s ease;
}

.footer-bottom {
  border-top: white 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 15px;
  font-size: 12px;
  gap: 10px;
}

.footer-bottom span,
.footer-bottom p {
  color: white;
  margin: 0;
}

.footer-bottom p {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .footer-columns {
    display: none;
  }

  .footer-columns-mobile-wrapper {
    display: flex;
    padding-left: 25px;
  }

  .app-buttons img {
    width: 100px;
  }

  .footer-top h3 {
    font-size: 16px;
  }

  .footer-top p {
    font-size: 12px;
  }

  .footer-dropdown-content p {
    font-size: 12px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 480px) {
  .footer-enhanced {
    padding: 20px 15px;
    font-size: 12px;
  }

  .footer-dropdown {
    padding: 0 8px;
  }

  .footer-row {
    flex-direction: row;
  }

  .footer-dropdown-content p {
    font-size: 12px;
  }

  .app-buttons img {
    width: 90px;
  }

  .footer-bottom {
    padding-top: 10px;
  }
}
