.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  background:#f3c12d;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
.login {
  color: black;
  font-size: 19px;
  font-weight: bold;
}
.login:hover .icon {
  color: #fff;
}
.login:hover {
  color: #fff;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 16px;
  width: 310px;
  max-width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 1px solid  #001F3F;
}

.search-bar:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 999px;
}

.search-bar:focus-within {
  width: 480px;
  border-color: black;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.search-bar .search-icon {
  color: black;
  font-size: 18px;
}
.search-bar input {
  border: none;
  outline: none;
  margin-left: 12px;
  background: transparent;
  font-size: 16px;
  color: black;
  flex: 1;
  font-weight: bold;
}

.search-bar input::placeholder {
  color: black;
  opacity: 1;
  font-weight: 500;
}


/* Nav Icons */
.nav-icons {
  display: flex;
  align-items: center;

  gap: 21px;
  height: 36px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.profile-btn:hover .icon {
  color: #fff;
}
.profile-btn > span {
  padding: 6px 0 6px 6px;
}

.profile-btn:hover {
  color: #f5efff;
  font-weight: bold;
  background: black;
}
.icon {
  font-size: 15px;
  margin-right: 5px;
  color: black;
}

.dropdown-menu {
  position: absolute;
  top: 75px;
  right: 240px;
  background-color: #f5efff;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px;
  z-index: 2000;
  width: 350px;
}

.dropdown-header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}
.dropdown-header span {
  color: black;
}

.signup-link {
  cursor: pointer;
  font-weight: 500;
  color: #007bff; 
  transition: color 0.2s ease;
}

.signup-link:hover {
  font-weight: bold;
  color: #0056b3;
}

.dropdown-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  gap: 8px;
  color: black;
  padding: 6px 0;
  cursor: pointer;
  margin-top: 10px;
}
.dropdown-item:hover {
  font-weight: bold;
  color: black;
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
}
.dropdown-item a:hover {
  font-weight: bold;
  color: black;
}

.nested-submenu {
  margin-left: 15px;
  margin-top: 5px;
  gap: 3px;
}

.ellipsis-menu {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  border-radius: 3px;
  right: 5px;
  background: #f5efff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 0.5rem;
  width: 200px;
}
.nav-item .three-dot {
  color: black;
}
.nav-item .vendor {
  color: black;
}
.ellipsis-menu .dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  background: none;
  color: black;
}

.ellipsis-menu .dropdown-item:hover {
  font-weight: bold;
  color: black;
}
.login-h4 {
  font-size: 16px;
  color: black;
}
.login-p {
  font-size: 12px;
  color: black;
  margin-top: 5px;
  margin-left: 2px;
}

@media (max-width: 768px) {
  .signOutButton {
    border: none;
    background-color: #f5efff;
    color: black;
    font-size: 17px;
    font-weight: 520;
  }

  .signOutButton:hover {
    font-weight: bold;
    color: black;
  }
  .navbar {
    height: 80px;
    width: 100%;
  }
  .nav-item a {
    font-size: 12px;
  }
  .search-bar {
    display: flex;
    width: 20%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .search-bar input {
    width: 20%;
    font-size: 13px;
  }
  .nav-icons .nav-item {
    display: flex;
  }
  .ellipsis-container {
    display: none;
  }
  .profile-btn {
    gap: 5px;
  }
  .profile-btn span {
    display: inline;
  }
  .dropdown-menu {
    top: 60px !important;
    right: 10px !important;
    width: auto !important;
    min-width: 220px;
  }
  .dropdown-header {
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 680px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
  }
  .search-bar {
    width: 40%;
  }
  .nav-icons {
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }

  html {
    font-size: 85%;
  }
  .logo img {
    height: 35px;
  }

  .dropdown-menu {
    width: calc(100% - 20px);
    left: 10px !important;
    right: 10px !important;
  }
  .ellipsis-menu {
    min-width: 10;
  }
}
@media (max-width: 370px) {
  .logo {
    font-size: 20px;
    font-weight: 700;
  }

  .login {
    font-size: 15px;
    font-weight: bold;
  }
  .nav-item {
    font-size: 12px;
    font-weight: 600;
  }
}
