.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; /* better on mobile */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto; /* if modal content grows */
}

.login-modal {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeInScale 0.3s ease;
  max-height: 40vh;
  overflow-y: auto;
  scrollbar-width: none;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  transition: color 0.2s;
}
.modal-close:hover {
  color: #000;
}

/* Titles and Labels */
.login-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Inputs */
.login-input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s;
}

.login-input:focus {
  border-color: #f3c12d;
  outline: none;
}

/* Password input component should match above */
.password-input {
  width: 100%;
  margin-bottom: 1rem;
}

/* Register button */
.otp-button {
  width: 100%;
  padding: 0.8rem 1rem;
  background-color: #f3c12d;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.otp-button:hover {
  background-color: #e0ac1d;
}

/* Signup redirect */
.signup-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #555;
}

.login-link {
  color: #0073ff;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
}

.login-link:hover {
  color: #dca902;
}

/* Error message */
.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

/* Animation */
@keyframes fadeInScale {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive */

@media (max-height: 1024px) {
  .login-modal {
    /* max-width: 300px; */
    max-height: 55vh;
  }
}
@media (max-height: 800px) {
  .login-modal {
    /* max-width: 300px; */
    max-height: 70vh;
    padding: 1.5rem 1rem;
    border-radius: 8px;
  }
}
@media (max-height: 600px) {
  .login-modal {
    /* max-width: 300px; */
    max-height: 95vh;
  }
}

@media (max-width: 600px) {
  .login-modal {
    /* max-width: 300px; */
    max-width: 350px;
  }
}
@media (max-width: 400px) {
  .login-modal {
    /* max-width: 300px; */
    max-width: 300px;
  }
}
