.user-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  cursor: pointer;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-letter {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .user-profile-icon {
    width: 35px;
    height: 32px;
  }
}
@media (max-width: 500px) {
  .user-profile-icon {
    width: 25px;
    height: 22px;
  }
}
