.hamburger {
  font-size: 28px;
  border: none;
  color: #4527a0;
  cursor: pointer;
  margin: 10px;
  z-index: 30;
  position: fixed;
  left: 220px;
  padding: 5px;
  background: none;
  display: none;
}

.main-content {
  position: fixed;
  left: 280px;
  z-index: 0;
}

.error {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10001;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: white;
}



.cancel-btn{
  background-color: rgb(236, 67, 67);
}

.cancel-btn:hover{
  background-color: red;
  font-weight: 700;
}

.submit-btn{
  background-color: #7f66ff;
}

.submit-btn:hover {
  background-color: #4425e1;
  font-weight: 700;
}


/* Show hamburger only on small screens */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    left: 0;
    margin-top: 25px;
  }

  .open {
    color: whitesmoke;
  }
}

@media (max-width:450px) {
  .modal-content{
    max-width: 300px;
    position: fixed;
    left: 40px;
    top: 213px;
  }
}
@media (max-width:380px) {
  .modal-content{
    max-width: 300px;
    position: fixed;
    left: 36px;
    top: 213px;
  }
}
