/* ===== Hamburger Button ===== */
* {
  box-sizing: border-box;
}

/* Hamburger Menu */
.profile-hamburger {
  font-size: 33px;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 5px;

  background: none;
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 100;
  display: none;
}

/* Hamburger Menu */

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2001;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.cancel-btn {
  background-color: rgb(236, 67, 67);
}

.cancel-btn:hover {
  background-color: red;
  font-weight: 700;
}

.submit-btn {
  background-color: #7f66ff;
}

.submit-btn:hover {
  background-color: #4425e1;
  font-weight: 700;
}
.booking-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 20px;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modern-booking-card {
  display: flex;
  margin-left: 200px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: transform 0.3s ease;
  border: 1px solid gray;
}

.modern-booking-card:hover {
  transform: translateY(-4px);
}
.image-section {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section img {
  height: 100%;
  width: 100%;
}
.info-section {
  display: flex;
  margin-left: 20px;
}
.user-booking-info-section {
  margin-right: 60px;
}
/* Hide scrollbar for Chrome, Safari */
.booking-card-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* ==== Model Style ==== */

/* Booking Section */

.booking-left {
  flex: 1 1 50%;
  margin-top: 10px;
}

.booking-left h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #4a004e;
}

.booking-left div {
  margin-bottom: 5px;
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.booking-left a {
  color: #6e1274;
  font-weight: bold;
  text-decoration: underline;
}

/* Dropdown */
.profile-sort-dropdown {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #3b0340e1;
  background-color: #3b0340e1;
  color: white;
  font-weight: 500;
  width: 100px;
  margin: 20px 0;
  display: block;
  margin-left: auto;
}

.profile-sort-dropdown option {
  background-color: white;
  color: black;
  font-weight: 600;
}
.boking-text {
  margin-top: 20px;
}
/* Dots Animation */
.dots {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}
.profile-sidebar-fixed {
  position: sticky;
  height: fit-content;
  box-sizing: border-box;
  width: 240px;
}
.profile-scrollable-content {
  width: 100%;
  margin-left: -150px;
  margin-top: 20px;
}
/* Sidebar Base */

/* ============================================================================================================ */

/* !!!!! fully aware user sidebar css should not be handled here but please do not change !!!!! */

.user-sidebar {
  width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(163, 116, 225, 0.71) 12.5%,
    rgba(165, 76, 194, 0.71) 25.48%,
    rgba(112, 71, 165, 0.71) 43.27%,
    rgba(86, 112, 189, 0.71) 85.38%
  );
  padding: 20px;
  color: white;
  z-index: 10;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Sidebar closed */
.user-sidebar.closed {
  transform: translateX(-100%);
}

/* Sidebar open */
.user-sidebar.open {
  background-color: #000000;
  margin-top: 0;
  transform: translateX(0);
}
.sortby-dropdown {
  width: 110px;
  padding: 8px 12px;
  margin-right: -15px;
}

/* =========================================================================================== */

/* Responsive Styles */
@media (max-width: 1024px) {
  .profile-scrollable-content {
    width: 100%;
    margin-left: -200px;
  }
  .payment {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 820px) {
  .modern-booking-card {
    display: block;
  }
  .image-section {
    margin-left: 35px;
    margin-bottom: 10px;
    height: 200px;
    width: 400px;
  }
  .profile-scrollable-content {
    width: 100%;
  }
  .profile-hamburger {
    margin-top: -30px;
  }
}

@media (max-width: 768px) {
  .profile-scrollable-content {
    width: 100%;
    margin-left: -350px;
  }
  .profile-hamburger {
    display: block !important;

    margin-top: 30px;
    margin-left: 5px;
  }
}
@media (max-width:767px){
  .profile-scrollable-content{
    width: 100%;
    margin-left: -80px;
    margin-top: -1100px;
  }
  .image-section{
    width: 320px;
    margin-left: 50px;
  }
}
@media (max-width:640px){
  .image-section{
    margin-left: 10px;
    width: 230px;
    height: 150px;
  }
  .info-section{
    display: block;
  }
  .profile-scrollable-content{
    margin-top: -800px;
    width: 100%;
    margin-left: -100px;
  }
}
@media (max-width:500px){
  .image-section{
    width: 170px;
    height:120px ;
  }
}
@media (max-width: 430px) {
  .profile-scrollable-content {
    width: 100%;
    margin-left: 0px;
    margin-top: -940px;
  }
  .info-section {
    display: block;
  }
  .image-section {
    width: 300px;
    height: 150px;
    margin-left: 10px;
  }
  .modern-booking-card {
    margin-left: 0px;
  }
  .profile-hamburger {
    margin-top: 30px;
    margin-left: 5px;
  }
  .boking-text {
    margin-top: 20px;
  }
}
@media (max-width:400px){
  .profile-scrollable-content{
    margin-top: -620px;
  }
}
@media (max-width: 380px) {
  .image-section {
    width: 250px;
    height: 150px;
  }
  .profile-scrollable-content {
    width: 100%;
    margin-left: 0px;
    margin-top: -750px;
  }
}
@media (max-width:350px){
  .profile-scrollable-content{
    margin-top: -600px;
  }
}
@media (max-width: 999px) {
  .booking-image {
    max-width: 479px;
  }
  .boking-text {
    margin-top: 20px;
  }
  .user-sidebar {
    background: linear-gradient(
      180deg,
      rgba(163, 116, 225, 0.71) 12.5%,
      rgba(165, 76, 194, 0.71) 25.48%,
      rgba(112, 71, 165, 0.71) 43.27%,
      rgba(86, 112, 189, 0.71) 85.38%
    );
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
  }

  .modal-content {
    position: fixed;
    top: 172px;
  }
  .profile-hamburger {
    display: block;

    top: -20px;
    left: 0;
  }

  .open {
    color: #fff;
  }
}
