@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  margin: 0;
  padding: 0;
  /* Prevent horizontal scroll */
  box-sizing: border-box;
}

.align_center {
  display: flex;
  align-items: center;
}
